<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml"/>

    <link rel="stylesheet" href="/main.css"/>
    {% include "partials/global/meta-info.njk" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    <a class="visually-hidden" href="#main-content">Skip to content</a>
    <div class="l-page">
      <header class="l-header"  role="banner">
        {% include "partials/global/site-head.njk" %}
      </header>
      <main id="main-content" tabindex="-1" class="l-main">
        {% block content %}{% endblock content %}
        {% include "partials/global/site-foot.njk" %}
        {% block foot %}{% endblock %}
      </main>
    </div>
  </body>
</html>