{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %}
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <div class="l-container">
    {% include "partials/components/intro.njk" %}
    {{ content | safe }}
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </div>
{% endblock %}