{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <article class="h-entry l-container">
    {% include "partials/components/intro.njk" %}
    {{ content | safe }}
  </article>
{% endblock %}

{{ content | safe }}