{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="post-meta">
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %}
  <span role="text">— {{ helpers.getReadingTime(content) }} minute read</span>
</p>
{% endset %}

{% block content %}
  <article class="l-container h-entry">
    {% include "partials/components/intro.njk" %}
    {{ content | safe }}

    {% include "partials/components/comments.njk" %}

    {% if tags %}
      <footer>
        <ul class="l-tags">
          {% for item in tags %}
            <li>
              <a class="tag" href="/tags/{{ item }}">{{ item }}</a>
            </li>
          {% endfor %}
        </ul>
      </footer>
    {% endif %}

  </article>
{% endblock %}