{% extends 'layouts/base.njk' %}
{% set pageType = 'Post Archive' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{% set postListHeading = 'All posts' %}
{% set postListItems = collections.posts %}

{% block content %}
  <l-stack>
    {% include "partials/intro.njk" %}
    {% include "partials/post-list.njk" %}
  </l-stack>
{% endblock %}