<div class="theme-secondary theme-bg theme-color">
  <header class="l-container">
    <div class="l-jumbo">
      <h1>{{ introHeading }}</h1>
      {% if introSummary %}
        <div class="l-stack l-measure">{{ introSummary | safe }}</div>
      {% endif %}
    </div>
  </header>
</div>