<header class="l-container l-measure">
  <div class="l-post-intro">
    <h1>{{ introHeading }}</h1>
    {% if introSummary %}
      <div>{{ introSummary | safe }}</div>
    {% endif %}
  </div>
</header>