.l-container + .l-container {
  margin-top: var(--s4);
}

.l-container {
  display: block;
  width: 100%;
}

.l-container > * + * {
  margin-top: var(--s3);
}

.l-container {
  display: block;
  max-width: var(--measure);
}

.l-container p + p {
  margin-top: var(--s-1);
}
