:root {
  --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-mono: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --color-dark: #050505;
  --color-darkish: #404040;
  --color-lightish: #f5f2f0;
  --color-light: #fafafa;
  --color-mid: grey;
  --ratio: 1.4;
  --s-5: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio)
  );
  --s-4: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)
  );
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)
  );
  --s5: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
      var(--ratio)
  );
  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8 * var(--ratio));
  --border-thin: var(--s-5);
  --border-thick: var(--s-2);
}

:root {
  line-height: var(--ratio);
  font-size: calc(0.333vw + 1.2em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark);
}

* {
  box-sizing: border-box;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

:after,
:before {
  box-sizing: inherit;
}

body,
dd,
dl,
dt,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;
  font-size: inherit;
  min-height: 100vh;
}
a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  cursor: pointer;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  line-height: normal;
}
img {
  max-width: 100%;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

:focus {
  outline: var(--border-thin) solid var(--color-mid);
  outline-offset: var(--border-thin);
}
[tabindex="-1"]:focus {
  outline: none;
}
