.l-page {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.l-header {
  flex-basis: 12rem;
  flex-grow: 1;
  position: relative;
  padding: var(--s1);
  padding-top: var(--s3);
  background: var(--color-light);
}

.l-header * + * {
  margin-top: var(--s2);
}

.l-main {
  flex-basis: 0;
  flex-grow: 9999;
  min-width: 50ch;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  padding: var(--s1);
  padding-top: var(--s3);
}
