$live-demo-breakpoint-small: 600px;
$live-demo-breakpoint-medium: 1000px;

.cp_embed_wrapper,
.live-demo iframe {
  --live-demo-display: none;
  --live-demo-margins: 0;
}

@media (min-width: $live-demo-breakpoint-small) {
  .cp_embed_wrapper,
  .live-demo iframe {
    --live-demo-display: block;
  }
  .cp_embed_wrapper,
  .live-demo {
    --live-demo-margins: -50px;
  }
}

@media (min-width: $live-demo-breakpoint-medium) {
  .cp_embed_wrapper,
  .live-demo {
    --live-demo-margins: -100px;
  }
}

.cp_embed_wrapper,
.live-demo {
  padding: 0.5em 0.85em;
  border: solid 1px #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left: var(--live-demo-margins, 0);
  margin-right: var(--live-demo-margins, 0);
}

.live-demo > * + * {
  margin-top: 1rem;
}

.live-demo > a {
  display: inline-block;
}

.live-demo > img {
  margin: 0 auto;
  display: block;
}

.cp_embed_wrapper,
.live-demo iframe {
  display: none;
}
