{% if site.keystone.claps !== false and claps !== false %}
  <div id="keystone-claps-form"></div>
  <script src="/js/keystone-claps.js" async defer></script>
  <style>
    {{css["keystone-claps"] | safe}}
  </style>
{% endif %}