{% if site.keystone.bookmarks !== false and bookmarks !== false %}
  <div id="keystone-bookmarks-form"></div>
  <script src="/js/keystone-bookmarks.js" async defer></script>
  <style>
    {{css["keystone-bookmarks"] | safe}}
  </style>
{% endif %}