---
permalink: '/posts/'
title: Posts
---
{% extends 'layouts/base.njk' %}
{% set pageType = 'Post Archive' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{% set postListItems = collections.posts %}

{% block content %}
  <div class="l-container">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/post-list.njk" %}
  </div>
{% endblock %}