<form class="js-add-comment-form">
  <label for="name">Name</label><br/>
  <input type="text" id="name" name="name"/><br/>
  <label for="comment">Comment</label><br/>
  <textarea id="comment" name="comment"></textarea><br/>
  <button type="submit">Share opinion</button>
</form>
<div id="comments"></div>
<script src="/js/keystone-comments.js" async defer></script>