{% if paginationNextUrl or paginationPrevUrl %}
  <hr />
  <footer>
    <nav>
      {% if paginationPrevUrl %}
        <a href="{{ paginationPrevUrl }}" data-direction="backwards">
          <span role="text">{{ paginationPrevText if paginationPrevText else 'Previous' }}</span>
          {% include "icons/arrow.svg" %}
        </a>
      {% endif %}
      {% if paginationNextUrl %}
        <a href="{{ paginationNextUrl }}" data-direction="forwards">
          <span role="text">{{ paginationNextText if paginationNextText else 'Next' }}</span>
          {% include "icons/arrow.svg" %}
        </a>
      {% endif %}
    </nav>
  </footer>
{% endif %}
